@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@media only screen and (min-width: 1280px){
body{
    margin: 0px;
}
.head{
    background-color: #F5F5F6;
    margin-left: 0px;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
}
.head-image{
    width: 89px;
    height: 23px;
    margin-left: 100px;
    margin-top: 15px;
    display: flex;
    align-items: center;
}
p{
    width: 44px;
    height: 19px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #959BA4;
    display: flex;
    align-items: center;
}
p:hover{
    color: black;
}
.first{
    margin-left:64px ;
}
.second{
    margin-left:13px ;
}
.third{
    margin-left:21px ;
}
.fourth{
    margin-left :50px;
}
.fifth{
    margin-left:50px ;
}
.sixth{
    margin-left:50px ;
}
.seventh{
    margin-left:px ;
}
.log-in{
    width: 58px;
    height: 33px;
    margin-left: 109px;
    margin-top: 9px;
    background: #FFFFFF;
    border-radius: 4px;
    border-color:#FFFFFF;
}
.heading{
    width: 587px;
    height: 32px;
    margin-left: 253px;
    margin-top: 56px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
}
.have{
    width: 120px;
    height: 28px;
    margin-top:33px ;
    margin-left: 253px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #9F9F9F;
}
.want{
    width: 120px;
    height: 28px;
    margin-top: -40px;
    margin-left: 635px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    color: #9F9F9F;
}
.left-container{
    box-sizing: border-box;
    width: 259px;
    height: 102px;
    margin-left: 253px;
    margin-top: 20px;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
}
.right-container{
    box-sizing: border-box;
    width: 259px;
    height: 102px;
    margin-left: 123px;
    margin-top: 20px;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
}
.container{
    display:flex;
    flex-direction: row;
}
.money-left{
    width: 259px;
    height: 30px;
    margin-left: 253px;
    margin-top: 1px;   
}
.money-right{
    margin-left: 636px;
    width: 259px;
    height: 30px;
    margin-top: -30px;   
}






table{
    width: 259px;
    height: 30px;
    left: 253px;
    margin-top: 1px;
}
.left{
    box-sizing: border-box;
    width: 259px;
    height: 30px;
    left: 253px;
    margin-top: 1px;
    
border: 1px solid #E5E5E5;
    border-radius: 3px;
}









}